<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <section class="card">
            <h1>Cadastro</h1>
            <form action="{{url_for('user.cadastro')}}" method="post">
                <div class="form-input">
                    <label for="username">Nome:</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="form-input">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-input">
                    <label for="dataNascimento">Data de nascimento:</label>
                    <input type="date" name="dataNascimento" id="dataNascimento" required>
                </div>
                <div class="form-input">
                    <label for="rg">RG:</label>
                    <input type="text" name="rg" id="rg" required>
                </div>
                <div class="form-input">
                    <label for="cpf">CPF:</label>
                    <input type="text" name="cpf" id="cpf" required>
                </div>
                <div class="form-input">
                    <label for="telefone">Telefone:</label>
                    <input type="text" name="telefone" id="telefone" required>
                </div>
                <div class="form-input">
                    <label for="endereco">Endereço:</label>
                    <input type="text" name="endereco" id="endereco" required>
                </div>
                
                <div class="form-input">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="form-input">
                    <label for="confirmPassword">Confirmação de senha:</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" required>
                </div>
                <div class="form-input">
                    <button type="submit">Cadastrar</button>
                </div>
            </form>
            <p>Já possue uma conta? <a href="{{url_for('user.login')}}">Entre na sua conta</a></p>
        </section>
    </main>
</body>
</html>