<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container">
        <section class="card">
            <h1>Login</h1>
            <form action="{{url_for('user.login')}}" method="post">
                <div class="form-input">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-input">
                    <label for="password">Senha:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="form-input">
                    <button type="submit">Entrar</button>
                </div>
                {% if erro %}
                    <p>{{erro}}</p>
                {% endif %}
            </form>
            <p>Não possue uma conta? <a href="{{url_for('user.cadastro')}}">Cadastre-se</a></p>
        </section>
    </main>
</body>
</html>