{% extends 'base.html' %}

{% block content %}
    <section id="content">
        <main id="main">
            <form method="post" action="{{url_for('reserva.cadastro', id=veiculo.id_veiculo)}}" enctype="multipart/form-data">
                <div id="formulario">
                    <h2>Modelo escolhido</h2>
                    <table border="1">
                        <thead>
                            <th>Marca</th>
                            <th>Modelo</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ veiculo.marca }}</td>
                                <td>{{ veiculo.modelo }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <h2>Reserva</h2>
                    <div class="blocoFormulario">
                        <label>Data inicial da reserva</label>
                        <input type="date" name="dataInicial" placeholder="Data inicial" class="inputBase">
                    </div>

                    <div class="blocoFormulario">
                        <label>Data final da reserva</label>
                        <input type="date" name="dataFinal" placeholder="Data final" class="inputBase">
                    </div>
                    

                    <div class="blocoFormulario">
                        <button type="submit">Cadastrar</button>
                    </div>

                </div>
            </form>
        </main>
    </section>

{% endblock %}