{% extends 'base.html' %}

{% block content %}
<section id="content">
    <main id="main">
        <table border=1></table>
        <thead>
            <th>Carro reservado</th>
            <th>Data inicial</th>
            <th>Data final</th>
            <th colspan="2">Ações</th>
        </thead>
        <tbody>
            {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.veiculo.nome }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </main>

</section>
    
{% endblock %}