{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<section id="content">
    <main id="main">
        <table border="1" class="tabela-reservas">
            <thead>
                <th>Carro reservado</th>
                {% if session['tipo'] == 'funcionario' %}
                <th>Solicitante</th>
                {% endif %}
                <th>Data inicial</th>
                <th>Data final</th>
                <th>Status</th>
                <th colspan="2">Ações</th>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                {% set veiculo = veiculos[loop.index0] %}
                <tr>
                    <td>
                        <ul>
                            <li>Marca: {{ veiculo['marca'] }}</li>
                            <li>Modelo: {{ veiculo['modelo'] }}</li>
                        </ul>
                    </td>
                    {% if session['tipo'] == 'funcionario' %}
                    {% set usuario = usuarios[loop.index0] %}
                    <td>
                        <ul>
                            <li>Nome: {{ usuario['nome'] }}</li>
                        </ul>
                        {% endif %}
                        <td>{{reserva.dataInicio}}</td>
                        <td>{{reserva.dataFim}}</td>
                        <td>
                            {% if reserva.status == 1 %}
                            <p>Ativo</p>
                            {% else %}
                            <p>Cancelado</p>
                            {% endif %}
                        </td>
                        <td>
                            <a
                                href="{{url_for('reserva.cancelar', id=reserva.id_reserva)}}">Cancelar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <tr>
                        <td colspan="6">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                    {% endwith %}
                </tbody>
            </table>
        </main>

    </section>

    {% endblock %}