{% extends './base.html' %}

{% block content %}
{% include 'navbar.html' %}
<section id="content">
    <main id="main">
        <section id="Veiculos">
            <h1>Formulário Cadastrar Veículos</h1>
            <section id="secaoFormulario">
                <form method="post" action="/veiculo/adicionar_veiculo" enctype="multipart/form-data">
                    <div id="formulario">
                        <div class="blocoFormulario">
                            <label>Marca</label>
                            <input type="text" name="marca"
                                placeholder="Nome veículo" class="inputBase" required>
                        </div>
                        <div class="blocoFormulario">
                            <label>Modelo</label>
                            <input type="text" name="modelo" placeholder="Modelo"
                                class="inputBase" required>
                        </div>
                        <div class="blocoFormulario">
                            <label>Placa</label>
                            <input type="text" name="placa" placeholder="Placa"
                                class="inputBase" required>
                        </div>
                        <div class="blocoFormulario">
                            <label>Categoria</label>
                            <input type="text" name="categoria" placeholder="Categoria"
                                class="inputBase" required>
                        </div>
                        <div class="blocoFormulario">
                            <label>Ano</label>
                            <input type="text" name="ano" placeholder="Ano"
                                class="inputBase" required>
                        </div>
                        <div class="blocoFormulario">
                            <label>Valor</label>
                            <input type="text" name="valor" placeholder="Valor"
                                class="inputBase" required>
                        </div>
                        <div class="blocoFormulario">
                            <label>Status</label>
                            <select class="inputBase" required name="status">
                                <option value="0">Inativado</option>
                                <option value="1" selected>Ativo</option>
                            </select>
                        </div>
                        <div class="blocoFormulario">
                            <label>Imagem</label>
                            <input type="file" name="imagem" required>
                        </div>

                        <div class="blocoFormulario">
                            <button type="submit">Cadastrar</button>
                        </div>

                    </div>
                </form>
            </section>
        </section>
    </main>
</section>
{% endblock %}