{% extends './base.html' %}

{% block content %}

<section id="content">
    <main id="main">
        <!-- veiculos -->
        <section id="Veiculos">
            <h1>Veículos Disponíveis</h1>
            <div class="listaVeiculos">
                {% for veiculo in veiculos %}
                    <div class="blocosVeiculos">
                        <img src="{{url_for('static', filename='carImages/')}}{{veiculo.imagem}}">
                        <div class="legenda">
                            <span class="nome">{{veiculo.marca}}</span>
                            <span class="preco">{{veiculo.precoDia}}</span>
                        </div>
                        <a href="{{url_for('reserva.form', id=veiculo.id_veiculo)}}">Reservar</a>
                    </div>
                {% endfor %}
            </div>
        </section>
        <!-- veiculos -->
    </main>
</section>

{% endblock %}