{% extends './base.html' %}

{% block content %}
{% include 'navbar.html' %}

<section id="content">
    <main id="main">
        <!-- veiculos -->
        <section id="Veiculos">
            <h1>Veículos Disponíveis</h1>
            <div class="listaVeiculos">
                {% for veiculo in veiculos %}
                    <div class="blocosVeiculos">
                        <img src="{{url_for('static', filename='carImages/')}}{{veiculo.imagem}}">
                        <div class="legenda">
                            <span class="nome">{{veiculo.marca}}</span>
                            <span class="preco">{{veiculo.precoDia}}</span>
                        </div>
                            <a class="btn-reservar" href="{{url_for('reserva.form', id=veiculo.id_veiculo)}}">Reservar</a>
                        {% if session['tipo'] == 'funcionario' %}
                            <div class="actions-group">
                                <a href="{{url_for('veiculo.editar_veiculo', id=veiculo.id_veiculo)}}"><img src="{{url_for('static', filename='imagens/edit.png')}}" alt="Botão editar"></a>
                                <a href="{{url_for('veiculo.deletar', id=veiculo.id_veiculo)}}"><img src="{{url_for('static', filename='imagens/trash.png')}}" alt="Botão editar"></a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
</section>

{% endblock %}