* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --verde: #07ffa6;
  --preto: #2a2a2a;
  --amarelo: #e9c035;
  --corTexto: #3a3a3a;
  --corNome: #a7a7a7;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body,
html {
  background-color: #fff !important;
  height: 100vh;
}

#header {
  background-image: url("../imagens/backgroundTopo.png");
  background-size: 100%;
  padding: 20px 20px;
  height: 356px;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  align-items: center;
  padding: 10px;
}

#menu nav ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#menu nav ul li {
  list-style: none;
  font-size: 18px;
  color: #666666;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;

  a{
    text-decoration: none;
    color: #666666;
  }
  a:hover{
    color: #07ffa6;
    transition: color 0.2s ease-in-out;
  }
}

#content {
  padding: 65px 40px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

#main {
  background-repeat: no-repeat;
  background-position: bottom left;
}

.tabela-reservas {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  color: #9c9c9c;

  th {
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
    padding: 10px;
  }

  td {
    padding: 1rem;
  }

  td:last-child {
    text-align: center;

    a {
      color: #fff;
      background-color: #2a2a2a;
      padding: 10px;
      border-radius: 5px;
      text-decoration: none;
    }
  }

  td ul li {
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    padding: 10px;
  }
}

.linha1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 65px;
}
.linha2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#blocos h2 {
  color: var(--preto);
  opacity: 0.5;
}

#blocos p {
  color: var(--preto);
  opacity: 0.5;
}

.branco {
  color: #fff !important;
  opacity: 0.5 !important;
}

.linha1 div {
  width: 99%;
  height: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 40px;
}

.blTexto {
  flex: 2;
  color: #3a3a3a;
}

.blTexto h1 {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: var(--corTexto);
}

.blTexto hr {
  margin-bottom: 10px;
}

.blTexto p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.blImg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blImg img {
  width: 80%;
  height: auto;
}
.fundoVerde {
  background-color: var(--verde);
}

.fundoPreto {
  background-color: var(--preto);
}

.fundoAmarelo {
  background-color: var(--amarelo);
}

/* Veiculos */

#Veiculos h1 {
  color: var(--corNome);
  width: 100%;
  text-align: center;
  font-weight: 100;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.listaVeiculos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.blocosVeiculos {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  width: 12%;
  position: relative;
}

.legenda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.blocosVeiculos .preco {
  color: var(--verde);
  font-weight: 700;
}

.blocosVeiculos .nome {
  color: var(--corNome);
  font-weight: 700;
}

#secaoFormulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  gap: 15px;
}

.inputBase {
  width: 100%;
  padding: 15px 0px 15px 0px;
}

.blocoFormulario {
  width: 100%;
}

button {
  background-color: #141208;
  padding: 20px;
  color: #fff;
  width: 100%;
  border: 0px;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
}

footer {
  background-color: #2a2a2a;
  padding: 100px 0px;
  text-align: center;
  color: #fff;

  width: 100%;
  bottom: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.container {
  background-color: #f2f2f2;
  height: 100vh;
}

.card {
  width: 50%;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.form-input {
  width: 100%;
  margin-bottom: 1rem;
}

.form-input input {
  height: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.form-input button {
  background-color: #0181d6;
  color: #fff;
  padding: 1rem;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.actions-group{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.actions-group a img{
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 5px;
}

.actions-group a img:hover{
  filter:invert(70%);
  transition: filter 0.2s ease-in-out;
}

.btn-reservar{
  background-color: #1fc765;
  color: #fff;
  padding: 1rem;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.edit-form, .form-reservas{
  width: 50%;
  margin: auto;
}

.form-input select{
  height: 2rem;
  width: 100%;
  margin-top: 1rem;
}

.dados-veiculo li{
  list-style: none;
}