{% extends './base.html' %}

{% block content %}

<section id="content">
    <main id="main">
        <!-- veiculos -->
        <section id="Veiculos">
            <h1>Veículos Disponíveis</h1>
            <div class="listaVeiculos">
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>
                <div class="blocosVeiculos">
                    <img src="imagens/car.png">
                    <div class="legenda">
                        <span class="nome">Gol</span>
                        <span class="preco">45,00</span>
                    </div>
                </div>

            </div>
        </section>
        <!-- veiculos -->
    </main>
</section>

{% endblock %}