{% extends './base.html' %}

{% block content %}
<section id="content">
    <main id="main">
        <!-- veiculos -->
        <section id="Veiculos">
            <h1>Formulário Cadastrar Veículos</h1>
            <section id="secaoFormulario">
                <form method="post" action="/">
                    <div id="formulario">
                        <div class="blocoFormulario">
                            <label>Data inicial da reserva:</label>
                            <input type="date" name="dataInicio" placeholder="Da inicial" class="inputBase">
                        </div>
                        <div class="blocoFormulario">
                            <label>Data final da reserva:</label>
                            <input type="date" name="dataFim" placeholder="Da final" class="inputBase">
                        </div>
                        <div class="blocoFormulario">
                            <button type="submit">Reservar veículo</button>
                        </div>
                    </div>
                </form>
            </section>
        </section>
        <!-- veiculos -->
    </main>
</section>
{% endblock %}